.footer {
  margin-top: 140px;
  padding: 80px 0 76px 0;
  position: relative;

  &__row {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 34px;
  }

  &_left {
    &-bot {
      color: $default-text;
      font-size: 16px;
      font-weight: 400;
      line-height: 181.25%;
      margin-top: 24px;

      a {
        color: $default-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &_menu {
    display: flex;
    gap: 40px;
    margin-left: 9vw;
    align-items: flex-start;

    ul {
      display: grid;
      gap: 10px;
      width: 220px;

      a {
        color: $default-text;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &_right {
    color: $default-text;
    font-size: 16px;
  }

  &::before {
    content: '';
    z-index: -2;
    position: absolute;
    background: url('~assets/img/bg-footer-2.png') center/cover no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('~assets/img/bg-footer.png') center/cover no-repeat;
  }
}

.icon-footer-social {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.i-f-g {
    background-image: url('~assets/img/icon-soc-g.svg');
  }

  &.i-f-f {
    background-image: url('~assets/img/icon-soc-f.svg');
  }

  &.i-f-x {
    background-image: url('~assets/img/icon-soc-x.svg');
  }

  &.i-f-i {
    background-image: url('~assets/img/icon-soc-i.svg');
  }

  &.i-f-in {
    background-image: url('~assets/img/icon-soc-in.svg');
  }
}

.footer-title {
  font-weight: 700;
}

.footer-time {
  font-weight: 700;
  margin-top: 20px;
}

.footer-week {
  margin-top: 10px;
}

@media(max-width: 1400px) {
  .footer {
    &_menu {
      margin-left: 4vw;

      ul {
        width: 170px;
      }
    }
  }
}

@media(max-width: 992px) {
  .footer {
    margin-top: 100px;
    padding: 40px 0 40px 0;

    &__row {
      gap: 20px;
    }

    &__socials {
      margin-top: 20px;
      flex-wrap: wrap;
    }
  }

  .icon-footer-social {
    width: 30px;
    height: 30px;
  }

  .footer_left-bot {
    font-size: 14px;
  }

  .footer__icon {
    max-width: 140px;
  }

  .footer_menu ul a {
    font-size: 14px;
  }

  .footer_right {
    font-size: 14px;
  }
}

@media(max-width: 880px) {
  .footer__row {
    flex-wrap: wrap;
  }

  .footer_menu {
    flex-direction: column;
    gap: 14px;

    ul {
      width: 140px;
    }
  }
}

@media(max-width: 400px) {
  .footer_left {
    width: 100%;
  }

  .footer_menu { 
    margin-left: 0;
    margin-top: 20px;
  }

  .footer_right {
    margin-top: 20px;
  }
}