.fags-home {
    margin-top: 140px;

    &_desc {
        margin: 30px auto 0 auto;
        max-width: 440px;
        text-align: center;

        p {
            color: $default-text;
            line-height: 1.4;
        }
    }
}

.fags-items {
    margin-top: 80px;

    &_ul {
        display: grid;
        gap: 10px;
    }
}

@media(max-width: 1024px) {
    .fags-home {
        margin-top: 60px;
        padding-bottom: 30px;
    }

    .fags-items {
        margin-top: 40px;
    }
}

