.partner-block {
  position: relative;
  overflow: hidden;
  padding-top: 20px;

  .our-partner {
    margin: 0px 0px;

    ul {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    li {
      min-width: 200px;
      padding: 25px 22px;
      margin: 10px;
      flex: 1 1;
      border-radius: 12px;
      background: #140F26;

      @media(max-width: 1024px) {
        min-width: 120px;
        padding: 12px;
        max-width: 140px;
        flex: auto;
      }
    }

    img {
      width: 100%;
    }
  }
}