.partner-block {
  position: relative;
  overflow: hidden;
  padding-top: 20px;

  .our-partner {
    margin: 0px 0px;

    ul {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include respond-to(phone) {
        flex-direction: column;
      }
    }

    li {
      min-width: 200px;
      padding: 25px 22px;
      margin: 10px;
      flex: 1 1;
      border-radius: 12px;
      background: #140F26;
    }

    img {
      width: 100%;

      @include respond-to(phone) {
        max-width: 240px;
      }
    }
  }
}