.under-header.profile-top-wr {
  background-position-y: -.5rem;

  display: flex;
  flex-direction: column;

  .profile-nav {
    //margin-bottom: 5rem;
    color: $dark;

    li {}

  }

  >.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.footer-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  @include respond-to(phone) {
    flex-direction: column;
    margin: 0.5rem 4rem;
  }

  button {
    margin-bottom: 10px;
  }

  p {
    color: $dark-gray;

    @include respond-to(phone) {
      margin-bottom: 15px;
    }
  }

  .btn {
    display: inline-flex;
    padding: 11px 24px;
    border-radius: 25px;
    font-size: 15px;
    margin-right: 15px;

    &-transparent {
      color: $colorBody;
      border: 1px solid #fff;

      &:hover {
        background: #fff;
      }
    }
  }
}

.zayvki-main {
  background: #cce5ff;
}

.profile {

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }


  &__main {
    margin-top: 55px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 116px rgba(116, 124, 130, 0.05), 0px 32px 75px rgba(116, 124, 130, 0.1);
    background: #cce5ff;


    &--title {
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 23px;
      font-family: $ffPlay_Bold;
      margin-bottom: 34px;
      letter-spacing: normal;
      text-align: left;
      color: #212121;

      img {
        width: 20px;
        margin-right: 15px;
      }

      @include respond-to(phone) {
        justify-content: center;
      }

    }

    &--item {
      padding: 1.75rem 3rem;
      border: 1px solid #f3f3f3;

      flex: 1 0;

      @include respond-to(phone) {
        padding: 1.75rem 4rem;
      }

      &-last {
        max-height: 259px;
      }


      &__file {
        @include respond-to(big-phone) {
          margin-right: 0;
        }
      }

      .btn {
        margin-top: 5px;
        letter-spacing: 0.3px;
        line-height: 1.85;
        width: 75%;
        padding: 10px 8px;
        color: $white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 15px;
        font-family: $ffMuseoSansCyrl_0;
        transition: .2s all;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .form {

      &__item {
        margin-bottom: 15px;

        span {
          font-size: 14px;
          color: $dark;
          display: inline-block;
          margin-bottom: 13px;
        }

        label {
          span {
            cursor: pointer;
            font-family: $ffRoboto_Regular;
          }

        }

        input {

          background-color: #f1fbe2;
          color: $dark;
          padding: 16px 1.25rem;
          font-size: 14px;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $dark-gray;
            font-family: $ffRoboto_Regular;
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            color: $dark-gray;
            font-family: $ffRoboto_Regular;
          }

          &:-ms-input-placeholder {
            /* IE 10+ */
            color: $dark-gray;
            font-family: $ffRoboto_Regular;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: $dark-gray;
            font-family: $ffRoboto_Regular;
          }
        }


        .d-flex {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          input {
            width: auto;
            margin-right: 12px;
          }

          span {
            color: #212121;
            font-size: 1rem;
            line-height: 1.2;
            margin-bottom: 2px;
          }
        }

      }

      &__input {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
      }
    }

    >ul {
      display: flex;
      justify-content: center;

      @include respond-to(tablet-lend) {
        flex-wrap: wrap;
      }

      li {
        flex: 1 1;
        min-width: 385px;
        //margin-bottom: 20px;
        min-height: 605px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @include respond-to(big-phone) {
          min-height: auto;
        }

        &:last-child {
          .profile__main--item {
            border-right: none;
            border-left: none;

            @include respond-to(tablet-lend) {
              border-left-color: #f3f3f3;
            }
          }
        }

        &:first-child {
          .profile__main--item {
            border-left: none;
            border-right: none;

            @include respond-to(tablet-lend) {
              border-right-color: #f3f3f3;
            }

            @include respond-to(phone) {
              border-bottom: none;
            }

          }
        }
      }
    }
  }

  &__file {

    margin: 0 auto 1.2rem;

    width: 11.31rem;
    height: 11.31rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__border {
      pointer-events: none;
      background: #ffffff;
      height: 96%;
      padding: 2%;
      margin: 2%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }

    input {
      position: absolute;
      list-style-position: outside;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
      min-width: auto;
    }

    p {
      margin: 0;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 13px;
      line-height: 3.84;
      letter-spacing: 1.3px;
      color: #ffffff;
      //padding-top: 15px;
      //padding-bottom: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

  }

  &__plus {
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(big-phone) {
      flex-wrap: wrap;
      flex-direction: column;
    }


    li {
      padding: 5px 25px;
      position: relative;

      &:first-child {

        @include respond-to(big-phone) {
          margin-bottom: 1rem;
        }

        &:after {
          content: '/';
          position: absolute;
          color: #a0a0a0;
          right: 3px;
          top: 5px;
          height: 100%;
          width: 1px;

          @include respond-to(big-phone) {
            content: none;
          }
        }
      }
    }

    .btn {
      text-decoration: underline;
      color: #a0a0a0;
      font-family: $ffMuseoSansCyrl_0;
      padding: 0;
      line-height: 1.25;
      font-size: 1rem;

      &:hover {
        color: #000;
      }
    }
  }

}

.b-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.b-top--none {
  border-top: none;
}